.reset_wrapper {
    max-width: 735px;
    width: 100%;
    margin: auto;
    height: 100vh;
}



.reset_sucess {
    max-width: 735px;
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}